---
import Layout from "../layouts/Layout.astro";
import StepperItem from "../components/StepperItem.astro";
import ImageCard from "../components/ImageCard.astro";

import experience from "../../data/experience.json";
import { projects } from "../../data/projects";
import Modal from "../components/Modal.jsx";
---

<Layout
	title="David Márquez Mínguez - Computer Engineer"
	description="Versatilist and easily adapt to different hats depending on what the project requires. I love exploring new tech stack and leveraging them to build cool stuffs."
>
	<main class="px-4 justify-center items-center">
		<!--- About section -->
		<section id="about" class="py-10 mx-auto w-[700px]">
			<div class="flex flex-row items-center">
				<img
					class="rounded-full size-16"
					src="https://avatars.githubusercontent.com/u/45391647?s=400&u=bda41410d3c115cdd367c6b21355723c72a0bc7e&v=4"
					alt="Portfolio"
				/>
				<div class="pl-4">
					<h1 class="text-white text-4xl font-bold">David Márquez Mínguez</h1>
					<h2 class="text-gray-300 text-base">Software Engineer at Acuratio</h2>
				</div>
			</div>
			<h2 class="text-white text-xl text-wrap my-4">
				I am a Spanish <span class="text-yellow-500">Computer Engineer</span>
				with a solid experience in <span class="text-yellow-500">Front-End</span
				> & <span class="text-yellow-500">Back-End</span> development. I have actively
				participated in several projects, demonstrating skills in multiple technologies.
			</h2>
		</section>

		<!--- Education & Work experience section -->
		<section id="experience" class="mx-auto w-[700px]">
			<h2 class="text-3xl font-semibold flex text-white justify-center mb-8">
				Education & Work Experience
			</h2>
			<ol class="relative border-s w-px left-1/2 h-full border-gray-200">
				{experience.map((item, index) => <StepperItem key={index} {...item} />)}
			</ol>
		</section>

		<!--- Projects section -->
		<section id="projects" class="mx-auto w-[740px]">
			<h2 class="text-3xl font-semibold flex pt-12 text-white justify-center">
				Projects
			</h2>
			<div class="flex flex-wrap justify-center">
				{projects.map((project) => <ImageCard {...project} />)}
			</div>
			<a
				href="https://github.com/Marquez-David?tab=repositories"
				class="rounded-full flex justify-center gap-x-2 px-8 hover:scale-105 transition"
				target="_blank"
				rel="noopener noreferrer"
			>
				Much more
			</a>
		</section>
	</main>
</Layout>
