---
import Layout from "../layouts/Layout.astro";
import Item from "../components/Item.astro";
import ImageCard from "../components/ImageCard.astro";

import experience from "../../data/experience.json";
import { projects } from "../../data/projects";
import { calculateExperienceYears } from "../utils";

const years = calculateExperienceYears("2021-01-01");
---

<Layout
	title="David Márquez Mínguez - Computer Engineer"
	description="Versatilist and easily adapt to different hats depending on what the project requires. I love exploring new tech stack and leveraging them to build cool stuffs."
>
	<main class="px-4 justify-center items-center">
		<!--- About section -->
		<section id="about" class="py-10 mx-auto w-[700px]">
			<div class="flex flex-row items-center">
				<img
					class="rounded-full size-16"
					src="https://avatars.githubusercontent.com/u/45391647?s=400&u=bda41410d3c115cdd367c6b21355723c72a0bc7e&v=4"
					alt="Portfolio"
				/>
				<div class="pl-4">
					<h1 class="text-white text-4xl font-bold">David Márquez Mínguez</h1>
					<h2 class="text-gray-300 text-base">Software Engineer at Acuratio</h2>
				</div>
			</div>
			<h2 class="text-white text-xl text-wrap my-4">
				I am a Spanish
				<span class="text-yellow-500">
					Computer Engineer with {years}+ years of experience in Front-End &
					Back-End development.
				</span>
				I have actively participated in several projects, demonstrating skills in
				multiple technologies.
			</h2>
		</section>

		<section id="experience" class="mx-auto w-[700px]">
			<ol class="relative border-s w-px left-1/2 h-full border-gray-200">
				{experience.map((item, index) => <Item index={index} {...item} />)}
			</ol>
		</section>
	</main>
</Layout>
