---
import Layout from "../layouts/Layout.astro";
import Item from "../components/Item.astro";
import ImageCard from "../components/ImageCard.astro";

import { experience, projects } from "../../data/data";

import { calculateExperienceYears } from "../utils/utils";
const years = calculateExperienceYears("2021-01-01");
---

<Layout>
	<main>
		<!--- About section -->
		<section
			id="about"
			class="flex flex-col py-10 mx-auto w-[750px] items-center justify-center"
		>
			<div class="flex">
				<img
					class="rounded-full size-16"
					src="https://avatars.githubusercontent.com/u/45391647?s=400&u=bda41410d3c115cdd367c6b21355723c72a0bc7e&v=4"
					alt="Portfolio"
				/>
				<div class="pl-4">
					<h1 class="text-white text-4xl font-bold">David Márquez Mínguez</h1>
					<h2 class="text-gray-300 text-base">Software Engineer at Acuratio</h2>
				</div>
			</div>
			<h2 class="text-white text-xl text-wrap my-4 text-center">
				Spanish
				<span class="text-blue-200 font-semibold">
					Computer Engineer with {years}+ years of experience in Full-Stack
					development.
				</span>
				Passionate about building efficient, scalable solutions and contributing
				to diverse projects with expertise in multiple technologies.
			</h2>
		</section>

		<!--- Expecience section -->
		<section id="experience" class="w-[750px] md:w-[1000px] mx-auto">
			<h2 class="text-3xl font-semibold flex text-white justify-center mb-8">
				Education & Work Experience
			</h2>
			<ol class="relative w-full mt-4">
				<div
					class="absolute left-1/2 h-full border-s bg-gray-200 -translate-x-1/2"
				>
				</div>

				{experience.map((item, index) => <Item index={index} {...item} />)}
			</ol>
		</section>

		<!--- Projects section -->
		<section id="projects" class="w-[750px] mx-auto">
			<h2 class="text-3xl font-semibold flex pt-12 text-white justify-center">
				Projects
			</h2>
			<div class="flex flex-wrap justify-center items-center">
				{projects.map((project) => <ImageCard {...project} />)}
			</div>
			<a
				href="https://github.com/Marquez-David?tab=repositories"
				class="rounded-full flex justify-center gap-x-2 px-8 hover:scale-105 transition"
				target="_blank"
				rel="noopener noreferrer"
			>
				Much more
			</a>
		</section>
	</main>
</Layout>
